@charset "utf-8";
ul.xtree{
    border:solid 1px #ddd;
    width:350px;
    margin:10px;
    padding:5px;
    background-color:#ECFFEC;
    -webkit-box-shadow:2px 2px 1px #ECFFEC;
    position:relative;
}
ul.xtree button{
    padding: 0;
    margin: 0;
}
ul.xtree button.xtree-switch{
	background:url(img/zTreeStandard.gif) no-repeat center;
	border: 0;
	float:left;
	width:18px;
	height:18px;
}
ul.xtree button.xtree-noswitch{
	background:url(img/zTreeStandard.gif) no-repeat center;
	border: 0;
	float:left;
	width:18px;
	height:18px;
}
ul.xtree span.xtree-current{
	background-color:#FF9;
	outline:1px dashed #ddd;
}

/**
 * 标签
*/
ul.xtree li.xtree-item{
	clear:both;
    padding: 0;
    margin: 0;
}
ul.xtree li.xtree-item a{
	text-decoration:none;
	float:left;
	height:18px;
	color:#333;
    padding: 0;
    margin: 0;
}
ul.xtree a.xtree-label{
	text-decoration:none;
	float:left;
	height:18px;
	line-height:18px;
	color:#333;
    margin-left: 5px;
    padding: 0 5px 0 2px;
}
ul.xtree button.xtree-label-folder{
	background:url(img/zTreeStandard.gif) no-repeat -110px -15px;
	float:left;
	width:16px;
	height:18px;
	border:0;
}
ul.xtree button.xtree-label-file{
	background:url(img/zTreeStandard.gif) no-repeat -110px -30px;
	float:left;
	width:16px;
	height:18px;
	border:0;
}
ul.xtree span.xtree-label-words{
	vertical-align:top;
	margin-left:3px;
}

/**
 *
*/
ul.xtree li.xtree-root{}
ul.xtree ul.xtree-line{
	background:url(img/line_conn.gif) repeat-y left;
	padding:0 0 0 18px;
	clear:both;
	overflow:hidden;
}
ul.xtree ul.xtree-line-none{
	background:none;
}
ul.xtree button.xtree-line-top{
	background-position:-56px 0;
}
ul.xtree button.xtree-line-mid{
	background-position:-56px -18px;
}
ul.xtree button.xtree-line-bottom{
	background-position:-56px -36px;
}

/**
 * 显示开关
 */
ul.xtree li.xtree-item-close button.xtree-label-folder{
	background:url(img/zTreeStandard.gif) no-repeat -110px 1px;
	display:inline-block;
	_display:inline;
	width:16px;
	height:18px;
	border:0;
}
ul.xtree button.xtree-top{
	background-position:-92px 0;
}
ul.xtree li.xtree-item button.xtree-mid{
	background-position:-92px -18px;
}
ul.xtree li.xtree-item button.xtree-bottom{
	background-position:-92px -36px;
}
ul.xtree li.xtree-item-close button.xtree-top{
	background-position:-74px 0px;
}
ul.xtree li.xtree-item-close button.xtree-mid{
	background-position:-74px -18px;
}
ul.xtree li.xtree-item-close button.xtree-bottom{
	background-position:-74px -36px;
}

/**
 * 	右键菜单
*/
div.xtree-context-menu{
	font-size:12px; font-family: Verdana, Arial, Helvetica, AppleGothic, sans-serif;
	position:absolute;
	border:1px solid gray;
	border-bottom:none;
	display:none;
	min-width:80px;
	-webkit-box-shadow: 1px 1px 1px #F0F0F0;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F8F8F8), to(#EEEEEE));
    -webkit-box-shadow:1px 1px 1px #eee;
}
div.xtree-context-menu li{
	padding:5px;
	height:20px;
	border-bottom:1px solid gray;
}
div.xtree-context-menu a{
	text-decoration:none;
	display:block;
	height:20px;
	line-height:20px;
	color:#333;
}
div.xtree-context-menu a:hover{
	color:red;
}

/**
 * checkbox
*/
ul.xtree button.xtree-checkbox{
	background:url(img/checkbox.png) no-repeat 0 center;
	float:left;
	width:13px;
	height:18px;
	border:0;
}
ul.xtree button.xtree-checkbox-over{
	background-position:-13px center;
}
ul.xtree button.xtree-checkbox-down{
	background-position:-26px center;
}
ul.xtree button.xtree-checkbox-checked{
	background-position:-52px center;
}
ul.xtree button.xtree-checkbox-checked-over{
	background-position:-65px center;
}
ul.xtree button.xtree-checkbox-checked-down{
	background-position:-78px center;
}
ul.xtree button.xtree-checkbox-half{
	background-position:-104px center;
}
ul.xtree div.xtree-clear{
    height: 0;
    overflow: hidden;
    clear: both;
    display: block;;
}
ul.xtree .ui-state-highlight {
    height: 18px;
    line-height: 18px;
}
